body {
    font-family: sans-serif;
    background-color: #f1f4f7;
    color: #003459;
}
#mainContainer {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    flex-direction: column;
    max-width: 60%;
    margin-left: 20%;
}

.firstName, .secondName, .title {
    padding : 2px;
    margin : 2px;
}

.firstName {
    background-color: #BBD8BA;
}

.secondName {
    background-color: #D9AEA9;
}

.title {
    background-color: #D9D3BF;
}

.formCon {
    background-color: #003459;
    color: #f1f4f7;
    padding: 1.5rem;
}